/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background: #4c98af;
  color: #000;
  text-align: center;
  padding: 20px;
}
.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}

/* Menu */
.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  color: black;
}
.menu-links {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: transparent;
  transition: opacity 0.3s ease;
}
.menu-links.show {
  opacity: 1;
  visibility: visible;
  display: block;
}
.menu-links a {
  display: block;
  padding: 4px 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.menu-links a:hover {
  background-color: transparent;
}

/* Main Section */
main {
  padding: 20px;
  background: #f4f4f4;
  min-height: 70vh;
}
main h2 {
  color: #333;
  margin-bottom: 25px;
}

/* Form */
form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: auto;
}
form input,
form button {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 16px;
}

/* Button */
button {
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}

/* Message */
#message {
  font-weight: bold;
  margin-top: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
